<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">  

  <display-name>Trail</display-name>
  <description>
    A scriptable management web application for the Tomcat Web Server;
    Manager lets you view, load/unload/etc particular web applications.
  </description>
  <servlet>
    <servlet-name>ws</servlet-name>
    <servlet-class>com.maneco.art.ws.WsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>service</servlet-name>
    <servlet-class>com.maneco.peanut.servlet.RegionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>
        org.apache.cxf.transport.servlet.CXFServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>HessianService</servlet-name>
    <servlet-class>
        com.maneco.art.hessian.server.HelloImpl
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>HessianComplexService</servlet-name>
    <servlet-class>
        com.maneco.art.hessian.server.ComplexServiceImpl
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>BurlapService</servlet-name>
    <servlet-class>
        com.maneco.art.hessian.server.HelloBurlapImpl
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>BurlapComplexService</servlet-name>
    <servlet-class>
        com.maneco.art.hessian.server.ComplexServiceBurlapImpl
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>JCSAdminServlet</servlet-name>
    <servlet-class>
        org.apache.jcs.admin.servlet.JCSAdminServlet
    </servlet-class>
    <init-param>
            <param-name>properties</param-name>
            <param-value>WEB-INF/JCSAdminServlet.velocity.properties</param-value>
        </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>npt</servlet-name>
    <servlet-class>
        com.maneco.npt.servlet.FrontServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

	<servlet-mapping>
		<servlet-name>JCSAdminServlet</servlet-name>
		<url-pattern>/jcs/admin</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
		<servlet-name>HessianComplexService</servlet-name>
		<url-pattern>/hessian/complex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
		<servlet-name>HessianService</servlet-name>
		<url-pattern>/hessian/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
		<servlet-name>BurlapComplexService</servlet-name>
		<url-pattern>/burlap/complex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
		<servlet-name>BurlapService</servlet-name>
		<url-pattern>/burlap/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/cxf/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>service</servlet-name>
      <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ws</servlet-name>
      <url-pattern>/ws/*</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>npt</servlet-name>
      <url-pattern>/npt/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>

</web-app>